section.contact{

    position: relative;
    padding-bottom: 60px;
    width: 100%;
    background-image: url("/assets/images/background_2.webp");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top;
        min-height: 70vh !important;
        align-content: center;

        h2,h4{
            color: #fff;
        }
      
      input.custom{
        background-color: whitesmoke;
        border-radius: 8px;
        font-size: 2rem;
        padding: 12px 24px;
        color: #042746;
        margin-top: 20px;
        width: -webkit-fill-available;
      }

      .title{
        font-weight: 800;
        font-size: 2.8rem;
      }

      textarea{
        background-color: whitesmoke;
        border-radius: 8px;
        font-size: 1.8rem;
        padding: 12px 24px;
        color: #042746;
        margin-top: 20px;
        width: -webkit-fill-available;
        resize: none;
        height: 240px;
        margin-bottom: 20px;
    }
}


