section.first {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("/assets/images/back_truck_2.jpg");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;

  p{
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px #000;
  }

  .min-icon{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    margin-top: -75px;
    background-color: white;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 10px;

     img{
        height: 48px;
        width: 48px;
     }
  }

  .highlighted{
    color: orange;
  }

  div.container {
    z-index: 50;
  }

  div.gradient {
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(
      90deg,
      rgba(26, 26, 26, 0.87),
      rgba(217, 217, 217, 0)
    );
    width: 50%;
    z-index: 1;
  }

  span.details{
    display: block;
    margin: 15px;
  }
}


.card-section{

    color: #566571;
    background-color: white;
    border-radius: 12px;
    display: inline-flex;
    padding: 24px 16px;
    text-align: center;

    .subtitle{
        font-weight: 700;
        font-size: 1.5rem;
    }

    .card-divider{
        border-right: 1px solid #ccc;
    } 
}


@media only screen and (max-width: 993px) {
    section.second{
        padding: 35px 20px !important;
    }
  }
  

section.second{
    padding: 85px 50px;
    background-image: url("/assets/images/background_blue.jpg");
}


section.third{
    padding: 85px 50px;

    .customer-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;

        .customer-logo{
            flex: 0 0 ; 
            height: 90px;
            margin-right: 24px;
            margin-left: 24px;
            align-content: center;
        }
    }
}