<section class="first">
    <div class="container" style="padding-top: 45px;">
      <div class="row">
        <div class="col l7 s12"></div>
  
        <div class="col l5 s12">
            <h5 style="text-shadow: 2px 2px 5px #000;">Somos una empresa <strong>100% mexicana</strong> con <strong> 8 años de experiencia</strong>  en el segmento de Cadena de Suministros.</h5>

            <p>Desarrollamos en conjunto con nuestros clientes proyectos de mejora continua tanto en procesos de distribución como en soluciones integrales de logística.</p>
            
            <p><span class="highlighted">Ofrecemos soluciones a la medida en áreas de Transporte</span>, Almacenaje, Sistemas de Abasto, Administración de Inventarios, Importación de Mercancías, Procesos Operativos y Administración de Flotas.</p>
            
            <p>Nuestra organización cuenta con profesionales de gran trayectoria y experiencia en operación logística (retail / sector industrial / alimentos y bebidas / automotriz).</p>
        </div>

        <div class="col s12" style="margin-top: 145px;">
            <div class="card-section">
                <div class="row">
                <div class="col s12 l4 card-divider">
                    <div class="min-icon">
                        <img alt="mision" src="/assets/images/icons/icon1.png">
                    </div>
                    <h6 class="subtitle">Misión</h6>
                    <span class="details">Satisfacer las necesidades de nuestros clientes, ofreciendo <strong>servicios de valor que contribuyan a la mejora continua</strong> de su cadena de suministros</span>
                </div>

                <div class="col show-on-small hide-on-med-and-up s12 " style="    padding-top: 20px;
    height: 35px;">
                    <hr>
                </div>
                <div class="col s12 l4 card-divider">
                    <div class="min-icon">
                        <img alt="mision" src="/assets/images/icons/icon3.png">
                    </div>
                    <h6 class="subtitle">Visión</h6>
                    <span class="details">Ser la empresa de servicios logísticos más <strong>confiable, comprometida y rentable</strong> del sector.</span>
                </div>
                <div class="col show-on-small hide-on-med-and-up s12 " style="    padding-top: 20px;
    height: 35px;">
                    <hr>
                </div>
                <div class="col s12 l4 ">
                    <div class="min-icon">
                        <img alt="mision" src="/assets/images/icons/icon2.png">
                    </div>
                    <h6 class="subtitle">Valores</h6>
                    <span class="details">Nuestros valores se centran en las personas, la <strong>integridad y la excelencia con simplicidad</strong>. Priorizamos la transparencia y la honestidad en todas nuestras acciones.</span>
                </div>
            </div>
            </div>         
        </div>



      </div>
    </div>
  </section>


  <section class="second">
    <div class="container">
      <div class="row">
        <div class="col  s12 ">
            <img alt="mision" style="width: 100%;" src="/assets/images/mexico_map.png">

        </div>
  
      </div>
    </div>
  </section>


  <section class="third">
    <div class="container" style="text-align: center;">

        <h4 style="margin-bottom: 45px;">Nuestros clientes</h4>
      <div class="customer-list">
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/elektra.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/lala.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/nutrisa.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/pag.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/publimetro.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/unilever.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/kimberly.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/italika.png">
        </div>
        <div class="customer-logo">
            <img alt="customer logo" src="/assets/images/customers/wallmart.png">
        </div>
        
      </div>
    </div>
  </section>