<nav >
  <div class="nav-wrapper" >
    <a  class="brand-logo">
      <img alt="logo" class="mt-2" src="/assets/images/Logo.png" />
    </a>
    <a (click)="toggleSidebar()"  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style="    font-size: 2.5rem;
    cursor: pointer;">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a [routerLink]="['home']" [routerLinkActive]="['active']">Inicio</a>
      </li>
      <li>
        <a [routerLink]="['about']" [routerLinkActive]="['active']">Sobre nosotros</a>
      </li>
      <li>
        <a [routerLink]="['services']" [routerLinkActive]="['active']">Servicios</a>
      </li>
      <li>
        <a [routerLink]="['joinus']" [routerLinkActive]="['active']">Reclutamiento</a>
      </li>
      <li>
        <a [routerLink]="['contact']" [routerLinkActive]="['active']">Contacto</a>
      </li>
    </ul>
  </div>
</nav>

<aside class="sidebar" [@slideInOut]="sidebarState">
  <ul >
    <li>
      <a (click)="hideSidebar()" [routerLink]="['home']" [routerLinkActive]="['active']">Inicio</a>
    </li>
    <li>
      <a (click)="hideSidebar()" [routerLink]="['about']" [routerLinkActive]="['active']">Sobre nosotros</a>
    </li>
    <li>
      <a (click)="hideSidebar()" [routerLink]="['services']" [routerLinkActive]="['active']">Servicios</a>
    </li>
    <li>
      <a (click)="hideSidebar()" [routerLink]="['joinus']" [routerLinkActive]="['active']">Reclutamiento</a>
    </li>
    <li>
      <a (click)="hideSidebar()" [routerLink]="['contact']" [routerLinkActive]="['active']">Contacto</a>
    </li>
  </ul>

</aside>

<main (click)="hideSidebar()">
  <div class="containers">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row" >
      <div class="col l5 s12">
        <div class="row footer-info" style="margin-top: 10px">
          <div class="col s12 l2">
            <img src="assets/images/R.png" />
          </div>
          <div class="col s12 l10">
            <img class="social-icon" src="assets/images/social/icons8-facebook-48.png" />
            <img class="social-icon" src="assets/images/social/icons8-linkedin-48.png" />
            <img class="social-icon" src="assets/images/social/icons8-instagram-48.png" />
            <img class="social-icon" src="assets/images/social/icons8-twitterx-48.png" />
            <br />
            <span>2020 DL Logistics, Todos los derechos reservados. Aviso de
              Privacidad Términos y Condiciones</span>
          </div>
        </div>
      </div>
      <div class="col l1  hide-on-med-and-down" >
        <div class="separator"></div>
      </div>
      <div class="col l6  s12" >
        <div class="row">

          <div class="col s12 l3">
            <h5>Compañia</h5>
            <span><a (click)="scrollToTop()" [routerLink]="['about']">Sobre nosotros</a></span>
          </div>
          <div class="col s12 l3">
            <h5>Servicios</h5>
            <span><a  (click)="scrollToTop()"  [routerLink]="['services']">Logística</a></span>
          </div>
          <div class="col s12 l3">
            <h5>Contacto</h5>
            <span> 55-3969-1252 | 55-7592-1236
               contacto@logisticdl.com</span>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</footer>