<section class="first">
  <div class="back_orange"></div>
  <div class="container" style="padding-top: 45px">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="title">SERVICIO DEDICADO</h5>

        <p>
          <span style="font-size: 1.8em"
            >Ofrecemos servicio dedicado diseñado a las necesidades específicas
            de nuestros clientes</span
          >
          poniendo a disposición unidades con chofer, combustible y
          mantenimiento; asegurando tiempos de carga y descarga 24/7 a nivel
          local y nacional.
        </p>

        <a  [routerLink]="['/contact']"
          class="waves-effect waves-light btn btn-large orange"
          style="margin-top: 25px"
          >CONTÁCTANOS</a
        >
      </div>
      <div class="col l6 s12"></div>
    </div>
  </div>
</section>

<section class="trucks">
  <div class="container" style="padding-top: 45px">
    <div class="row">
      <div class="col s12 m10 l10 offset-l1 offset-m1">
        <div class="feature">
          <h5>TRANSPORTE SPOT</h5>
          <p>
            <strong
              >Este servicio está enfocado para los clientes que tienen
              necesidad de transporte puntual. </strong
            ><br />Contamos con amplia variedad de equipos:
          </p>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card-truck">
            <img src="assets/images/trucks/1.png" />
            <h5>Tráiler Full 53".</h5>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-truck">
            <img src="assets/images/trucks/2.png" />
            <h5>Tráiler 48".</h5>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-truck">
            <img src="assets/images/trucks/3.png" />
            <h5>Plataformas.</h5>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-truck">
            <img src="assets/images/trucks/4.png" />
            <h5>Camión 3.5 tns.</h5>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-truck">
            <img src="assets/images/trucks/5.png" />
            <h5>Camión 1.5 tns.</h5>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card-truck">
            <img src="assets/images/trucks/6.png" />
            <h5>Torton.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="admin" style="margin-top: 35px; margin-bottom: 35px">
  <div class="container">
    <div class="row">
      <div class="col l7 s12" style="padding-top: 45px">
        <h5 class="title-bold">ADMINISTRACIÓN DE FLOTA</h5>

        <p style="font-size: 1.2rem">
          <span style="font-size: 1.6rem"
            >Ahorrarás <strong>tiempo y dinero</strong> a tu «core» de
            negocio,</span
          >
          mientras nosotros tenemos la experiencia y capacidad para controlar la
          gestión de la flota de unidades y operadores.
        </p>
        <p style="font-size: 1.2rem">
          Establecemos métricas de medición por chofer con esquemas tecnológicos
          de performance y productividad de las unidades, así como, el
          aseguramiento de un alto nivel de servicio en distribución y calidad
          de entrega.
        </p>

        <a  [routerLink]="['/contact']"
          class="waves-effect waves-light btn btn-large orange"
          style="margin-top: 25px"
          >CONTÁCTANOS</a
        >
      </div>
      <div class="col l5 s12" style="text-align: center; margin-top: 45px">
        <img
          src="assets/images/persons.png"
          style="max-width: 100%; width: 100%"
        />
      </div>
    </div>
  </div>
</section>

<section class="service" style="margin-top: 35px; margin-bottom: 35px">
  <div class="container">
    <div class="row">
      <div class="col l5 s12" style="text-align: center; margin-top: 45px">
        <img
          src="assets/images/trains.png"
          style="max-width: 100%; width: 100%"
        />
      </div>

      <div class="col l7 s12" style="padding-left: 35px; padding-top: 65px">
        <h5 class="title-bold">Servicio de Ferrocarril y espuela</h5>
        <h6 style="color: #ff9800; font-size: 1.6rem">
          Espuela y Almacén en Monterrey
        </h6>

        <div class="row" style="margin-top: 45px">
          <div class="col s12 m6">
            <ul>
              <li>
                Espuela con capacidad de recepción y almacenaje de
                <strong>249 furgones</strong>.
              </li>
              <li>
                Espacio de almacenaje de producto techado de
                <strong>8,000mt2</strong>.
              </li>
              <li><strong>20 montacargas</strong> (diferente pesaje).</li>
            </ul>
          </div>
          <div class="col s12 m6">
            <ul>
              <li>8 grúas (peso de carga hasta <strong>25tns</strong>).</li>
              <li>
                Espacio de almacenaje de producto a intemperie de
                <strong>20,000mt2</strong>.
              </li>
            </ul>
          </div>
        </div>

        <a  [routerLink]="['/contact']"
          class="waves-effect waves-light btn btn-large orange"
          style="margin-top: 25px"
          >CONTÁCTANOS</a
        >
      </div>
    </div>
  </div>
</section>

<section class="service" style="margin-top: 55px; margin-bottom: 35px">
  <div class="container">
    <div class="row">
      <div class="col l6 s12" style="margin-top: 25px;">
        <div class="services-list-card">
          <h4>Servicio consolidado</h4>
          <div class="large-circle lc-blue">   <img src="assets/images/boxes cart.png" /></div>
          <p class="description">
            Es una solución <strong>rentable y cómoda</strong> ya que al
            contratar este servicio paga únicamente la tarifa por peso y
            volumen.
          </p>
        </div>
      </div>

      <div class="col l6 s12" style="margin-top: 25px;">
        <div class="services-list-card">
          <h4>Auditoría de Carga</h4>
          <div class="large-circle lc-gray">   <img src="assets/images/person2.png" /></div>
          <p class="description">
            Creamos una división <strong>customizada para cada cliente</strong> para ofrecer servicios especializadosservicios de control y auditorías en procesos de carga y descarga de mercancía.
          </p>
        </div>
      </div>

      <div class="col l6 s12" style="margin-top: 25px;">
        <div class="services-list-card">
          <h4>Manejo y contról de inventarios</h4>
          <div class="large-circle lc-orange">   <img src="assets/images/person3.png" /></div>
          <p class="description">
            <strong>El inventario es el corazón de cada empresa</strong>, por lo tanto contamos con un equipo especializado para generar sistemas de calidad en la creación de los procesos de ingreso, acomodo y salida del producto. También administramos de forma eficiente inventarios cíclicos, semestrales y contables
          </p>
        </div>
      </div>

      <div class="col l6 s12" style="margin-top: 25px;">
        <div class="services-list-card">
          <h4>Servicio de almacenaje</h4>
          <div class="large-circle lc-dark-blue">   <img src="assets/images/person1.png" /></div>
          <p class="description">
            Contamos con almacenes que además de albergar los productos en un espacio físico, <strong>se realizan actividades de control, disponibilidad y requerimiento</strong> de los productos, así como el traslado de los mismos a los puntos de consumo o producción.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
