<section class="home">
  <div class="container">
    <div class="row">
      <div class="col l8 s12 first-section">
        <h1 class="title">Distribución eficiente para tus necesidades.</h1>
        <a class="waves-effect waves-light btn btn-large orange">CONTÁCTANOS</a>
      </div>

      <div class="col ml4 s12">
        <img
          alt="Worker engineer"
          class="worker hide-on-med-and-down"
          src="assets/images/worker 1.png"
        />
      </div>
    </div>
  </div>

</section>
