section.join{

    position: relative;
    width: 100%;
    height: calc(100vh - 165px - 108px);
    background-image: url("/assets/images/background_3.png");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top;
        min-height: 70vh !important;
        align-content: center;

        h2,h4{
            color: #fff;
        }
      
      input.custom{
        background-color: whitesmoke;
        border-radius: 8px;
        font-size: 2rem;
        padding: 12px 24px;
        color: #042746;
        margin-top: 20px;
        width: -webkit-fill-available;
      }

      .title{
        font-weight: 800;
        font-size: 2.8rem;
      }
}