<section class="join">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 first-section"></div>

      <div class="col l6 s12">
        <h2 class="title">¡ÚNETE A NUESTRO EQUIPO!</h2>
        <h4>Estamos buscando tu talento.</h4>

        <form [formGroup]="frmJoinUs" (ngSubmit)="save()" style="text-align: end;">
       
            <input
              id="nombre"
              placeholder="Nombre"
              formControlName="nombre"
              class="validate custom"
            />
        

          <input
            type="email"
            placeholder="Correo"
            formControlName="correo"
            class="validate custom"
          />

          <div
            class="file-field input-field"
            style="margin-top: 30px; margin-bottom: 30px"
          >
            <div class="btn">
              <span>Seleccionar CV <small>(.pdf)</small></span>
              <input type="file"  formControlName="file" (change)="onArchivoSeleccionado($event)" accept="application/pdf" />
            </div>
            <div class="file-path-wrapper">
              <input              
                class="file-path validate"
                type="text"              
                placeholder="Sube tu archivo"
              />
            </div>
          </div>

          <button type="submit" [disabled]="sending" class="waves-effect waves-light btn btn-large orange">ENVIAR</button>
        </form>

      
      </div>
    </div>
  </div>

  <div class="gradient"></div>
</section>
