/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.container {
  margin: 0 auto;
  max-width: 1380px;
}
main {
 // display: flex;
  //min-height: 76vh;
  //flex-direction: column;
 // position: relative;
}

.row{
    margin-bottom: 0;
}

footer {
  background-image: linear-gradient(90deg, #02a3da, #042442);
  padding-top: 20px;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;

  & .footer-info {
  }

  & img.social-icon {
    margin-right: 8px;
    cursor: pointer;
  }

  & .separator {
    border-left: 1px solid #ffffff2e;
    height: 145px;
    width: 5px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
  }
}

nav {
  color: #fff;
  background-color: #0f2d45;
  width: 100%;
  height: 108px;
  line-height: 108px;
  padding: 0px 5%;

  ul a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

a.brand-logo {
  img {
    margin-top: 25px;
  }
}

li {
  a.active {
    color: #02a3da;
  }
}
